@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.alpaca {
  position: relative;
  scale: 0.5;
  display: none;
}

.alpaca-accessories {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.alpaca-backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.alpaca-ears {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.alpaca-eyes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.alpaca-hair {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.alpaca-leg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.alpaca-mouth {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.alpaca-neck {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.alpaca-nose {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.buttons {
  display: flex;
}

.feature-grid {
  /* display: flex; */
  background-color: #003844;
}

.feature {
  border: none;
  background-color: #003844;
  color: #ffebc6;
  padding: 15px 30px;
  margin: 10px 5px;
  border-radius: 100px;
  /* width: 150px; */
  /* display: none; */
}

.style {
  border: none;
  background-color: #ffebc6;
  color: #003844;
  padding: 15px;
  border-radius: 100px;
  margin-left: 10px;
  width: 150px;
}

.feature,
.style:hover {
  cursor: pointer;
}
